

<!-- TODO in Lab 5: Display the items on the menu with cost for each -->


<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace 
this with Total price of the menu -->

<div id="menu" class="col-md-2" style="background-color: rgba(255,255,255); padding: 5px 0px; border: 3px solid;">

	<h3> My Dinner </h3>
					
	People: <input type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)"/>

	Total number of guest: {{getNumberOfGuests()}}
	          		
	<!--Needs JS content!-->
	<table class="table" style="table-layout: fixed;">
		<col width="45%"/>
		<col width="35%"/>
		<col width="20%"/>
		<tr class="table-striped" style="background-color: rgb(200,200,200);">
			<th>Dish Name</th>
		    <th>Cost</th>
		    <th/>
	  	</tr>
	  	
	  	<tr ng-repeat="dishInMenu in fullMenu() track by $index" >
	  		
	  		<td>{{dishInMenu.Title}}</td>
			<td>{{getDishPrice(dishInMenu)}}</td>
		    <td>SEK</td> <!--HÄR SKA DET VARA EN SUMMA AV PRISET FÖR VARJE RÄTT, HUR MAN NU GÖR DET, ISTÄLLET FÖR ATT BARA VISA PRISET AV VALD RÄTT -->
	  	</tr>

	</table>

	<center>
		<a href="#/overview" style="heigth: 5%; width: 100%;" class="btn btn-primary">Confirm Dinner</a>
	</center>
</div>