<!--We include the sidebar as it is shared across two screens. -->
<div id="overview">
	<ng-include src="'partials/header.html'" ></ng-include>
	<!--<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>-->

	<div id="DINNERSTATUS">
		<div class="jumbotron" style="background-color: rgb(255,219,124); margin-bottom: 20px">
			<h2 style="display: inline;">My dinner: {{getNumberOfGuests()}} people</h2> <!-- HÄR SKA DET VARA INLÄGG AV ANTAL GÄSTER VIA EN VIEW -->
			
			<a href="#/search" style="heigth: 5%; width: 100%;" class="btn btn-primary">Go back and edit dinner</a>
		</div>
	</div>

	<div  id="courses" class="row row-centered" style="padding: 20px;">

		<div  ng-repeat="dishInMenu in fullMenu()" class="col-md-2" style="padding: 0px 0px; margin: 20px 20px;">
			<div class="courseThumb" style="background-image: url({{dishInMenu.ImageURL}});">
		    	<a href="#/dish/{{dishInMenu.RecipeID}}" style="heigth: 5%; width: 100%;" class="btn btn-primary">{{dishInMenu.Title}}</a>
			</div>
			<h3 class="pull-right" style="color: red; pull-right;">{{getDishPrice(dishInMenu)}} SEK</h3>
			
		</div>
		

	    
	    
	        
	    <div id="verticalLine" class="col-md-2" style="border-left: 3px solid #000000; height: 250px; padding-top: 100px">
	    	<h3>Total:</h3>
			<h3 style="color: red">
				{{getTotalMenuPrice()}} SEK
			</h3>
	    </div>
    </div>
    <div id="buttonpart" class="row">
    	<hr style="width: 80%; border-color: black; border-width: 3px; "></hr>
    	<center>
        	<a href="#/print" class="btn btn-default;" type="button">Print Recipe</a>
    	</center>
    </div>

</div>
   

</div>




	<div id="menuView" class ="row">
			<div id="menu">
			</div>

	</div>
</div>

<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
not support it in free version) and list all the dishes that match the search.-->